<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>글 리스트</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-join flex-grow flex flex-col items-center justify-center">

        <div class="row my-3">
            <div class="col-6">
                <a th:href="@{/post/write}" class="btn btn-primary">글 작성</a>
            </div>
        </div>

        <table class="table">
            <thead class="table-dark">
            <tr class="text-center">
                <th>번호</th>
                <th style="width:50%">제목</th>
                <th>글쓴이</th>
                <th>작성일시</th>
                <th>수정일시</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center" th:each="post, loop : ${posts}">
                <td th:text="${post.id}"></td>
                <td class="text-start">
                    <a th:href="@{|/post/${post.id}|}" th:text="${post.subject}"></a>
                </td>
                <td><span th:if="${post.author != null}" th:text="${post.author.username}"></span></td>
                <td th:text="${#temporals.format(post.createDate, 'yy-MM-dd HH:mm')}"></td>
                <td th:text="${#temporals.format(post.modifyDate, 'yy-MM-dd HH:mm')}"></td>
            </tr>
            </tbody>
        </table>

    </section>
</main>
</body>
</html>