<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>글 작성</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-join flex-grow flex flex-col items-center justify-center">

        <div class="max-w-md w-full px-2 pt-4">
            <h1 class="font-bold text-lg">글 작성</h1>

            <script>

                function MemberLogin__submit(form) {

                    form.subject.value = form.subject.value.trim();
                    if (form.subject.value.length == 0) {
                        warningModal("제목을 입력해주세요.");
                        form.subject.focus();
                        return;
                    }


                    if (form.content.value.length == 0) {
                        warningModal("내용을 입력해주세요.");
                        form.content.focus();
                        return;
                    }
                    form.submit();
                }
            </script>

            <form th:action method="POST" class="flex flex-col gap-3" onsubmit="MemberLogin__submit(this); return false;">
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">제목</span>
                    </label>
                    <input autofocus type="text" name="subject" placeholder="제목" class="input input-bordered" maxlength="50">
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">내용</span>
                    </label>
                    <textarea class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300
                                    rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                            id="exampleFormControlTextarea1"
                            rows="3" name="content" placeholder="내용"></textarea>
                </div>

                <div class="grid grid-cols-2 mt-2 gap-2">
                    <input class="btn btn-primary" type="submit" value="글 작성하기">
                </div>
            </form>
        </div>

        </div>

    </section>
</main>
</body>
</html>