<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>도서 작성</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-join flex-grow flex flex-col items-center justify-center">

        <div class="max-w-5xl w-full px-2 pt-4">
            <h1 class="font-bold text-lg">도서 작성</h1>

            <script>

                function ProductCreat__submit(form) {

                    form.subject.value = form.subject.value.trim();
                    if (form.subject.value.length == 0) {
                        warningModal("제목을 입력해주세요.");
                        form.subject.focus();
                        return;
                    }

                    form.salePrice.value = form.salePrice.value.trim();
                    if (form.salePrice.value.length == 0) {
                        warningModal("가격을 입력해주세요.");
                        form.price.focus();
                        return;
                    }

                    form.keyword.value = form.keyword.value.trim();
                    if (form.keyword.value === "Select Keyword") {
                        warningModal("키워드를 선택해주세요.");
                        form.keyword.focus();
                        return;
                    }

                    form.submit();
                }
            </script>

            <form th:action method="POST" class="flex flex-col gap-3" onsubmit="ProductCreat__submit(this); return false;">
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">제목</span>
                    </label>
                    <input autofocus type="text" name="subject" placeholder="제목" class="input input-bordered" maxlength="50">
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">가격</span>
                    </label>
                    <input autofocus type="text" name="salePrice" placeholder="가격" class="input input-bordered" maxlength="50">
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">키워드</span>
                    </label>
                    <select name="keyword" class="form-select" aria-label="Default select example">
                        <option selected>Select Keyword</option>
                        <option th:each="keyword : ${keywords}" th:value="${keyword.content}"
                        th:text="${keyword.content}"></option>
                    </select>
                </div>


                <div class="grid grid-cols-2 mt-2 gap-2">
                    <input class="btn btn-primary" type="submit" value="도서 작성하기">
                </div>
            </form>
        </div>

        </div>


    </section>
</main>
</body>
</html>