<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>마이페이지</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-join flex-grow flex flex-col items-center justify-center">


        <div class="max-w-3xl w-full px-2 pt-4">
            <ul class="flex border-b mb-3">
                <li class="-mb-px mr-1">
                    <a class="bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-800 font-semibold" href="/member/profile">회원정보</a>
                </li>
                <li class="mr-1">
                    <a class="bg-white inline-block border-l border-t border-r rounded-t py-2 px-4 text-blue-700 font-semibold" href="/member/mybook">구매한 도서</a>
                </li>
            </ul>

            <h1 class="font-bold text-lg">구매한 도서</h1>

                <table class="table">
                    <thead class="table-dark">
                    <tr class="text-center">
                        <th>번호</th>
                        <th>이미지</th>
                        <th style="width:50%">도서명</th>
                        <th>글쓴이</th>
                        <th>가격</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="text-center" th:each="myBook, loop : ${myBooks}">
                        <td th:text="${myBook.product.id}"></td>

                        <td>
                            <svg width="80" height="80" th:data-jdenticon-value="${myBook.product.jdenticon}"></svg>
                        </td>

                        <td class="text-start">
                            <a th:href="@{|/product/${myBook.product.id}|}" th:text="${myBook.product.subject}"></a>
                        </td>

                        <td><span th:if="${myBook.product.author != null}" th:text="${myBook.product.author.username}"></span></td>

                        <td><span th:text="${myBook.product.price}"></span></td>
                    </tr>
                    </tbody>
                </table>

            <h1 class="font-bold text-lg">구매 내역</h1>

            <table class="table">
                <thead class="table-dark">
                <tr class="text-center">
                    <th>번호</th>
                    <th>주문명</th>
                    <th>주문자</th>
                    <th>주문가격</th>
                    <th>주문날짜</th>
                    <th>환불상태</th>
                    <th>환불</th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-center" th:each="order, loop : ${orders}">
                    <td th:if="${order.isPaid == true and order.name.toString().equals('예치금 충전') == false}" th:text="${order.id}"></td>
                    <td><span th:if="${order.isPaid == true and order.name.toString().equals('예치금 충전') == false}" th:text="${order.name}"></span></td>
                    <td><span th:if="${order.isPaid == true and order.name.toString().equals('예치금 충전') == false}" th:text="${order.member.username}"></span></td>
                    <td><span th:if="${order.isPaid == true and order.name.toString().equals('예치금 충전') == false}" th:text="${order.getPayPrice}"></span></td>
                    <td><span th:if="${order.isPaid == true and order.name.toString().equals('예치금 충전') == false}" th:text="${#temporals.format(order.createDate, 'yyyy-MM-dd HH:mm')}"></span></td>
                    <td>
                        <span th:if="${order.isPaid == true and order.isRefunded == false and order.name.toString().equals('예치금 충전') == false and @orderService.canRefund(order) == true}" th:text="환불가능"></span>
                        <span th:if="${order.isPaid == true and order.isRefunded == false and order.name.toString().equals('예치금 충전') == false and @orderService.canRefund(order) == false }" th:text="환불불가"></span>
                        <span th:if="${order.isPaid == true and order.isRefunded == true and order.name.toString().equals('예치금 충전') == false}" th:text="환불완료"></span>
                    </td>
                    <td>
                        <a th:href="@{|/order/${order.id}/refund|}"
                           th:if="${order.isPaid == true and order.isRefunded == false and order.name.toString().equals('예치금 충전') == false and @orderService.canRefund(order)}"
                           class="btn btn-warning btn-outline btn-sm">환불</a>
                    </td>
                </tr>
                </tbody>
            </table>



        </div>
    </section>
</main>
</body>
</html>