<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>아이디 찾기</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-join flex-grow flex flex-col items-center justify-center">

        <div class="max-w-md w-full px-2 pt-4">
            <h1 class="font-bold text-lg">아이디 찾기</h1>

            <div class="flex flex-col gap-3">
                <form th:action="@{/member/findUsername}" method="POST" class="flex flex-col gap-3" onsubmit="FindIdByEmail__submit(this); return false;">
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">등록한 이메일을 입력하세요.</span>
                        </label>
                        <input type="text" name="email"
                               placeholder="등록한 이메일을 입력해주세요." class="input input-bordered" maxlength="50">
                    </div>

                    <div class="form-control">
                        <label class="label">
                            <span class="label-text" id="findId"></span>
                        </label>
                    </div>

                    <div class="grid grid-cols-2 mt-2 gap-2">
                        <input class="btn btn-primary" type="submit" value="아이디 찾기">
                    </div>
                </form>
            </div>

        </div>
    </section>

    <script>
        if( window.location.href.split("?").length > 1){
            var misMatchPassword = window.location.href.split("?")[1];
            var misMatchPasswordMsg = misMatchPassword.split("=")[1];

            document.getElementById("findId").innerHTML = "등록된 아이디 :  " + decodeURI(misMatchPasswordMsg).replaceAll("+", " ");
        }

        function FindIdByEmail__submit(form) {
            form.submit();
        }
    </script>

</main>
</body>
</html>