<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>작가명 수정</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-join flex-grow flex flex-col items-center justify-center">

        <div class="max-w-md w-full px-2 pt-4">
            <h1 class="font-bold text-lg">작가명 수정하기</h1>

            <script>
                function ModifyNickname__submit(form) {
                    form.submit();
                }
            </script>

            <div class="flex flex-col gap-3">
                <div class="form-control">
                        <label class="label">
                            <span class="label-text">현재 작가명</span>
                        </label>
                        <div th:text="${#authentication.principal.nickname}"></div>
                </div>

                <form th:action method="POST" class="flex flex-col gap-3" onsubmit="ModifyNickname__submit(this); return false;">
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">변경할 작가명</span>
                        </label>
                        <input type="text" name="modifynickname"
                               placeholder="변경할 작가명을 입력하세요." class="input input-bordered" maxlength="50">
                    </div>

                    <div class="grid grid-cols-2 mt-2 gap-2">
                        <input class="btn btn-primary" type="submit" value="수정하기">
                    </div>
                </form>
            </div>

        </div>
    </section>
</main>
</body>
</html>