<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>마이페이지</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-join flex-grow flex flex-col items-center justify-center">

        <div class="max-w-md w-full px-2 pt-4">
            <h1 class="font-bold text-lg">회원정보</h1>

            <div class="flex flex-col gap-3">
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">아이디</span>
                    </label>
                    <div th:text="${#authentication.principal.username}"></div>
                </div>


                <div class="form-control">
                    <label class="label">
                        <span class="label-text">이메일</span>
                    </label>
                    <div th:text="${#authentication.principal.email}"></div>
                </div>


                <div class="form-control">
                    <form th:action="@{/member/modify}" method="POST">
                        <label class="label">
                            <span class="label-text">현재 작가명</span>
                        </label>
                        <div th:text="${#authentication.principal.nickname} == null ? '일반회원 입니다. 작가명을 수정하세요' : ${#authentication.principal.nickname}"></div>
                    </form>
                </div>

                <div class="grid grid-cols-2 mt-2 gap-2">
                    <a href="/member/modify" class="btn btn-secondary btn-outline">작가명 변경하기</a>
                    <a href="/member/modifyPassword" class="btn btn-secondary btn-outline">비밀번호 변경하기</a>
                </div>
            </div>

        </div>
    </section>
</main>
</body>
</html>