<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>출금 내역</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-join flex-grow flex flex-col items-center justify-center">

        <ul class="flex border-b mb-3">
            <li class="-mb-px mr-1">
                <a class="bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-800 font-semibold"
                   href="/member/profile">회원정보</a>
            </li>
            <li class="mr-1">
                <a class="bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-800 font-semibold"
                   href="/member/mybook">구매한 도서</a>
            </li>
            <li class="mr-1">
                <a class="bg-white inline-block border-l border-t border-r rounded-t py-2 px-4 text-blue-700 font-semibold"
                   href="/member/withdraw/list">출금 내역</a>
            </li>
        </ul>

        <table class="table">
            <thead class="table-dark">
            <tr class="text-center">
                <th>출금번호</th>
                <th>출금인</th>
                <th>출금은행</th>
                <th>출금계좌</th>
                <th>출금액</th>
                <th>신청일자</th>
                <th>출금신청현황</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center" th:each="withdraw : ${withdraws}">
                <td th:text="${withdraw.id}"></td>
                <td th:text="${withdraw.member.username}"></td>
                <td th:text="${withdraw.bankName}"></td>
                <td th:text="${withdraw.bankAccountNo}"></td>
                <td th:text="${withdraw.price}"></td>
                <td th:text="${#temporals.format(withdraw.createDate, 'yy-MM-dd HH:mm')}"></td>
                <td th:text="${withdraw.isWithdraw ? '출금완료' : '대기'}"></td>
            </tr>
            </tbody>
        </table>

    </section>
</main>
</body>
</html>