<!DOCTYPE html>
<html layout:decorate="~{adm/layout/layout.html}">

<head>
    <title>관리자 정산페이지</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-join flex-grow flex flex-col items-center justify-center">
        <div class="container mx-auto flex-grow flex items-center justify-center">
            <div>
                <h1>정산데이터 생성</h1>
                <form method="post" th:action>
                    <select name="yearMonth" class="select select-bordered">
                        <option value="2022-10">2022-10</option>
                        <option value="2022-09">2022-09</option>
                        <option value="2022-08">2022-08</option>
                        <option value="2022-07">2022-07</option>
                        <option value="2022-06">2022-06</option>
                    </select>
                    <input class="btn btn-primary" type="submit" value="생성">
                </form>
            </div>
        </div>
    </section>
</main>
</body>
</html>