<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>장바구니 리스트</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-join flex-grow flex flex-col items-center justify-center">

        <div class="px-2 pt-4">
            <h1 class="font-bold text-lg">장바구니</h1>

            <ul>
                <li th:each="cartItem : ${cartItems}" class="flex items-center">
                    <svg width="80" height="80" th:data-jdenticon-value="${cartItem.product.jdenticon}"></svg>
                    <div>
                        <span th:text="${cartItem.product.author.username}"></span> <span
                            th:text="${cartItem.product.subject}"></span> <span th:text="${cartItem.product.price}"></span>
                    </div>

                    </span>
                </li>
            </ul>


        </div>

        </div>

    </section>
</main>
</body>
</html>